body {
    text-align: center;
    background: rgb(227,83,136);
    background: -moz-radial-gradient(circle, rgba(227,83,136,1) 0%, rgba(216,80,130,1) 76%, rgba(209,69,121,1) 99%);
    background: -webkit-radial-gradient(circle, rgba(227,83,136,1) 0%, rgba(216,80,130,1) 76%, rgba(209,69,121,1) 99%);
    background: radial-gradient(circle, rgba(227,83,136,1) 0%, rgba(216,80,130,1) 76%, rgba(209,69,121,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e35388",endColorstr="#d14579",GradientType=1); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    display: flex;
    justify-self: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    top: 50%;
    /*-ms-transform: translateY(50%);*/
    /*transform: translateY(50%);*/
    /*margin-top: -10rem;*/
}

.avatar > div > img {
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    border: 1px solid rgb(131, 111, 221);
}

.avatar {
    width: 20rem;
    margin: 0 auto;
    display: inline-block;
}

.name {
    color: #fff;
    font-size: 26px;
}

.nickname {
    color: #fff;
    font-size: 22px;
}

.description {
    color: #fff;
}

.services {
    display: inline-grid;
    grid-template-columns: [first] auto [line2] auto [line3] auto [col4-start] 60px [end];
    grid-template-rows: [row1-start] 25% [row1-end] auto [last-line];
    font-size: 34px;
    color: #fff;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: unset;
    padding: 23px;
}

a :hover {
    color: rgb(0, 235, 235);
}

.avatar > div {
    padding-bottom: 20px;
}
